<div class="container">
  <div class="filter-container">
    <select (change)="onFilterClicked()" #priceFilter>
      <option value="" selected disabled hidden>Fiyat Aralığı Seçin</option>
      <option value="">Tüm Fiyatlar</option>
      <option value="0-200000">200.000 TL'den az</option>
      <option value="200000-400000">200.000 TL - 400.000 TL</option>
      <option value="400000-600000">400.000 TL - 600.000 TL</option>
      <option value="600000-0">600.000 TL'den fazla</option>
    </select>

    <select (change)="onFilterClicked()" #roomFilter>
      <option value="" selected>Oda Sayısı Seçin</option>
      <option value="1+1">1+1</option>
      <option value="2+1">2+1</option>
      <option value="3+1">3+1</option>
      <option value="4+1">4+1</option>
      <option value="4+2">4+2</option>
      <option value="5+1">5+1</option>
    </select>
  </div>

  <div class="homes-container clearfix">
    <app-home-card *ngFor="let home of homesShown" [home]="home"></app-home-card>
  </div>
</div>

