<div class="card-container">
  <div class="image-container">
    <img src="{{home.imageSource}}" alt="{{home.locationDetail1}}">
  </div>
  <div class="body-container">
    <h4 class="body-location-small">{{home.locationDetail1}}</h4>
    <h3 class="body-location-big">{{home.locationDetail2}}</h3>
    <h5 class="body-price">{{home.price}} TL</h5>
  </div>
  <div class="details-container">
    <div>{{home.roomNum}}</div>
    <div>{{home.area}} m<sup>2</sup></div>
    <div>{{home.floor}}</div>
  </div>
</div>
